<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RSS Feed Aggregator - Manage feeds</title>

    <meta name="description" content="RFA - Web client interacting with API" />
    <meta name="keywords" content="RFA - Web Client" />
    <meta name="author" content="Gaëtan Rolé-Dubruille" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="/img/rss.ico" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/feeds_view.css"  />

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="/font/css/font-awesome.min.css" >

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Top Menu Items -->
        <a class="brand" style="margin: 0; float: none;" href="/home">
            <img src="/img/rss.png"  width="30" height="30" />
        </a>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="/manage"><i class="fa fa-fw fa-cog"></i> Manage Feeds</a>
                </li>
                <li>
                    <a href="/feeds"><i class="fa fa-fw fa-rss"></i> All Feeds Updated</a>
                </li>
                <li>
                    <a href="/add"><i class="fa fa-fw fa-plus"></i> Add a Feed</a>
                </li>
                <hr />
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-user"></i>
                        <span style="text-transform: capitalize;"><%= username %></span><i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Feeds Manager <small>All Flux Overview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-cog"></i> Manager
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i><strong> <%= username %></strong> Let's manage your RSS Feeds !
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div>
                <ul class="list-group">
                    <% jsonObj.forEach(function(feed) { %>
                    <form method="POST" action="/manage?id=<%=feed.id%>&_method=DELETE">
                        <li class="list-group-item">RSS Name : <%= feed.name %> <br> URL : <a href="<%=feed.url%>"><%=feed.url%></a>
                            &nbsp;&nbsp;<button class="btn btn-xs btn-danger">Delete this feed</button>
                        </li>
                    </form>
                    <% }); %>
                </ul>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<footer>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
